<!doctype html>

<html>
<head>
  <title>FireConvos</title>	
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="css/jquery-ui.css" rel="stylesheet">
  <link href="css/jquery-ui.theme.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link href="css/FIREtxt.css" rel="stylesheet">
</head>

<body>

  <div class="myNavbar">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-12">
        <div class="homeHeader">        
          <h1>FireConvos<h1>
        </div>
      </div>
      <div class="container searchbarPanel">
        <form action="#">
          <i class="fa fa-search searchIcon" aria-hidden="false"></i>
          <input class="searchbarField" type="text" id="search">
        </form>
      </div>
    </div>
  </div>
  <div class="conversationList">
    {{#each friends}}
      <div class="container">
      {{#if ../visuals }}
        <a href="/convo-B/{{name}}#recent">
      {{else}}
        <a href="/convo-A/{{name}}#recent">
      {{/if}}

          <div class="row">
            <div class="col friendIconDiv">
              <img class="friendIcon" src={{data.icon}}></img>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <p class="friendName">{{name}}</p>
                </div>
                <div class="col">
                  <p class="timestamp">{{data.timestamp}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="preview">{{data.preview}}</p>
                </div>
              </div>            
            </div>
          </div>

          <hr>
          </div>
        </a>
      </div>
    {{/each}}
  </div>

  <script src="js/tether.min.js"></script>
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="https://use.fontawesome.com/11a76ebda9.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/friends.js"></script>
</body>
</html>
